<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="${ets-code}-${project.version}" verbose="0" configfailurepolicy="skip">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.osxgeotime.TestRunListener" />
    <listener class-name="org.opengis.cite.osxgeotime.SuiteFixtureListener" />
  </listeners>

  <test name="Core">
    <classes>
      <class name="org.opengis.cite.osxgeotime.core.RelaxNGTest" />
    </classes>
  </test>
</suite>
